<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">

    <context:property-placeholder location="classpath:application.properties"/>
    <bean id="myLoggerConfig" class="com.practice.springdemo.MyLoggerConfig" init-method="initLogger">
        <property name="rootLoggerLevel" value="FINE"/>
        <property name="printedLoggerLevel" value="FINE"/>
    </bean>
    <bean id="happyFortune" class="com.practice.springdemo.services.HappyFortuneService"/>
    <bean id="badFortune" class="com.practice.springdemo.services.BadFortuneService"/>
    <bean id="myCoach" class="com.practice.springdemo.BaseBallCoach" scope="singleton">
        <constructor-arg ref="happyFortune"/>
    </bean>
    <bean id="coach" class="com.practice.springdemo.HockeyCoach">
        <property name="fortune" ref="badFortune"/>
    </bean>
    <bean id="person" class="com.practice.springdemo.Person">
        <property name="email" value="${person.email}"/>
        <property name="name" value="neetu"/>
    </bean>

    <bean id="randomFortune" class="com.practice.springdemo.services.RandomFortune">
        <property name="randomFortunes">
            <list>
                <value>Good</value>
                <value>Bad</value>
                <value>worse</value>
                <value>Best</value>
                <value>Better</value>
            </list>
        </property>
    </bean>
    <bean id="trackCoach" class="com.practice.springdemo.TrackCoach">
        <constructor-arg name="fortune" ref="randomFortune"/>
    </bean>
</beans>